#memory-game {
  main {
    padding: 1rem;

    .cards {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      .cardCtn {
        border: 1px solid red;
        margin: .5rem;
        img {
          max-width: 100%;
        }
      }
    }
  }
}