#moving-block {
  background: #000;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;

  header {
    height: 20vh;
    background: url("../img/moving-block-header.jpg") center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 10px 2px #7fc6c6;

    h1 {
      text-align: center;
      padding: 1rem 2rem;
      border-radius: .5rem;
      background: rgba(255, 255, 255, .95);
      box-shadow: 1px 1px 6px 1px #fff;
      font-size: 2rem;
    }
  }

  main {
    width: 100%;
    height: 80vh;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    padding: 1rem;
    margin-bottom: 1rem;

    .field {
      width: 250px;
      height: 250px;
      position: relative;
      border-radius: .2rem;
      background: #f10b0b;
      margin: 0 auto;

      .block {
        position: absolute;
        border-radius: 50%;
        background: url("../img/moving-block-enemy.jpg") center;
        background-size: contain;
        display: none;

        &:last-child {
          background: url("../img/moving-block-player.png") center;
          background-size: contain;
        }
      }
    }

    .info {
      padding: 1rem;
      border-radius: .2rem;
      background: #ffffff;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      h3 {
        padding: .5rem;
        text-align: center;
        margin-bottom: .5rem;
      }

      .setPlay {
        text-align: center;
        flex-basis: 100%;

        button {
          width: 100px;
          border: none;
          border-radius: 2rem;
          outline: none;
          padding: .5rem;
          background: #046504;
          color: #ffffff;
          box-shadow: 1px 1px 3px 1px lighten(#046504, 15%);

          &:hover {
            box-shadow: 1px 1px 10px 1px lighten(#046504, 15%);
          }
        }
      }

      .lives {
        padding: .5rem;
        text-align: center;

        .livesCtn {
          display: flex;
          justify-content: center;

          .live {
            height: 1.5rem;
            width: 1.5rem;
            background: url("../img/moving-block-player.png") center;
            background-size: contain;
            margin: 0 .2rem;
          }
        }
      }

      .timing {
        padding: .5rem;
        .clockCtn {
          text-align: center;
          height: 1.5rem;

          .clock {
            width: 150px;
            display: inline-block;
            padding: .2rem .4rem;
            box-shadow: 1px 1px 2px 1px #343333;
            border-radius: .2rem;
            background: #000000;
            color: #ffffff;
            font-family: 'Orbitron', sans-serif;
            font-size: 1rem;

            p {
              display: inline-block;
              width: 40px;
            }
          }
        }
      }

      .reset {
        @extend .setPlay;
        padding-top: 1rem;

        button {
          background: #f10b0b;
          color: #ffffff;
          box-shadow: 1px 1px 3px 1px lighten(#f10b0b, 15%);

          &:hover {
            box-shadow: 1px 1px 10px 1px lighten(#f10b0b, 15%);
          }
        }
      }
    }
  }
  
  @media (min-width: 992px) {
    main {
      grid-template-columns: auto auto;
      grid-template-rows: 1fr;
      margin-bottom: 0;

      .field {
        width: 500px;
        height: 500px;
      }

      .info {
        flex-direction: column;
        align-items: center;

        .setPlay {
          margin-bottom: 2rem;
          flex-basis: auto;
        }

        .lives {
          margin-right: 0;
          margin-bottom: 2rem;
        }
      }
    }
  }
}